.ion-color-purp {
	--ion-color-base: var(--ion-color-purp);
	--ion-color-base-rgb: var(--ion-color-purp-rgb);
	--ion-color-contrast: var(--ion-color-purp-contrast);
	--ion-color-contrast-rgb: var(--ion-color-purp-contrast-rgb);
	--ion-color-shade: var(--ion-color-purp-shade);
	--ion-color-tint: var(--ion-color-purp-tint);
}